.Chat {
  text-align: left;
  height: auto;
  padding: 15px;
  border-right: none;
  &:first-child {
    border-right: none;
  }
  @media screen and (min-width: 767px) {
    min-height: 100vh;
    &:first-child {
      padding-right: 20px;
      border-right: 1px solid #ccc;
    }
    &:last-child {
      padding-left: 20px;
    }
  }
  .--container {
    width: 95%;
    margin: 0 auto;
    text-align: left;
    .Intro {
      margin: 0 0 25px 0;
      border-bottom: 1px solid #ccc;
      padding: 0 0 15px 0;
      .-Avatar {
        cursor: pointer;
        @include border-radius(5px);
      }
      .About {
        display: inline-block;
        vertical-align: middle;
        .-UserName {
          cursor: pointer;
          font-weight: 700;
        }
        .-FullName {
          font-size: $smaller;
        }
      }
      p {
        margin: 0 0 10px 0;
      }
    }
    .Input {
      width: 100%;
      border: 2px solid #353b40;
      height: 55px;
      font-size: 1em;
      @include border-radius(5px);
      padding: 5px;
      box-sizing: border-box;
      outline: none;
      position: relative;
    }
  }

}