.Message {
  margin: 0 0 15px 0;
  padding: 15px;
  @include border-radius(10px);
  .--container {
    width: 100%;
    .item {
      vertical-align: top;
    }

    .Content {
      padding: 0 5px 0 15px;
      box-sizing: border-box;

      .--sender {
        .Time {
          font-size: $smaller;
        }
        .UserName {
          color: #263238;
          font-weight: 700;
          margin: 0 5px 0 0;
        }
      }
      .--message {
        margin: 5px 0;
        overflow-wrap: break-word;
      }
    }

  }
}
.--fromUser {
  position: relative;
  background-color: rgba(219, 192, 102, 0.64);
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 17px solid transparent;
    border-left-color: rgba(219, 192, 102, 0.64);;
    border-right: 0;
    border-bottom: 0;
    margin-top: -8.5px;
    margin-right: -17px;
  }
}
.--fromChatee {
  position: relative;
  background-color: rgba(128, 128, 128, 0.64);
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 17px solid transparent;
    border-right-color: rgba(128, 128, 128, 0.64);
    border-left: 0;
    border-bottom: 0;
    margin-top: -8.5px;
    margin-left: -17px;
  }
}