@mixin box-shadow($other, $top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $other $top $left $blur $color;
    -moz-box-shadow:inset $other $top $left $blur $color;
    box-shadow:inset $other $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $other $top $left $blur $color;
    -moz-box-shadow: $other $top $left $blur $color;
    box-shadow: $other $top $left $blur $color;
  }
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}