.Conversation {
  margin: 25px 0; }

.Chat {
  text-align: left;
  height: auto;
  padding: 15px;
  border-right: none; }
  .Chat:first-child {
    border-right: none; }
  @media screen and (min-width: 767px) {
    .Chat {
      min-height: 100vh; }
      .Chat:first-child {
        padding-right: 20px;
        border-right: 1px solid #ccc; }
      .Chat:last-child {
        padding-left: 20px; } }
  .Chat .--container {
    width: 95%;
    margin: 0 auto;
    text-align: left; }
    .Chat .--container .Intro {
      margin: 0 0 25px 0;
      border-bottom: 1px solid #ccc;
      padding: 0 0 15px 0; }
      .Chat .--container .Intro .-Avatar {
        cursor: pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */ }
      .Chat .--container .Intro .About {
        display: inline-block;
        vertical-align: middle; }
        .Chat .--container .Intro .About .-UserName {
          cursor: pointer;
          font-weight: 700; }
        .Chat .--container .Intro .About .-FullName {
          font-size: 0.7em; }
      .Chat .--container .Intro p {
        margin: 0 0 10px 0; }
    .Chat .--container .Input {
      width: 100%;
      border: 2px solid #353b40;
      height: 55px;
      font-size: 1em;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      padding: 5px;
      box-sizing: border-box;
      outline: none;
      position: relative; }

.Message {
  margin: 0 0 15px 0; }
  .Message .--container {
    width: 100%; }
    .Message .--container .item {
      vertical-align: top; }
    .Message .--container .Content {
      display: inline-block;
      width: 90%;
      padding: 0 5px 0 15px;
      box-sizing: border-box; }
      .Message .--container .Content .--sender .Time {
        font-size: 0.7em; }
      .Message .--container .Content .--sender .UserName {
        color: #263238;
        font-weight: 700;
        margin: 0 5px 0 0; }
      .Message .--container .Content .--message {
        margin: 5px 0;
        overflow-wrap: break-word; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.Profile {
  max-width: 400px;
  position: absolute;
  z-index: 5;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 0 25px 0;
  padding: 0 0 15px 0;
  -webkit-box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-animation: fade-in .5s 1;
  -moz-animation: fade-in .5s 1;
  -o-animation: fade-in .5s 1;
  animation: fade-in .5s 1; }
  .Profile .--image img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .Profile .Info {
    width: 95%;
    margin: 0 auto;
    font-size: 0.85em; }
    .Profile .Info .--row {
      margin: 15px 0 0 0; }
      .Profile .Info .--row .-Property {
        color: #8b8b8b; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }
  body .container {
    text-align: center; }

.Avatar {
  display: inline-block;
  width: 10%;
  max-width: 30px;
  cursor: pointer;
  height: 30px; }
  .Avatar img {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
