@import "_vars";
@import "_mixins";
@import "_Conversation";
@import "_Chat";
@import "_Message";
@import "_Profile";

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: $reg;
  .container {
    text-align: center;
  }
}
.Avatar {
  display: inline-block;
  width: 10%;
  max-width: 30px;
  cursor: pointer;
  height: 30px;
  img {
    @include border-radius(5px);
  }
}